/* beginning of metaboxes */
/* beginning of metaboxes */
/* beginning of metaboxes */



/* beginning of metaboxes-project-meta */
/* beginning of metaboxes-project-meta */
.metaboxes-project-meta {
	width: 100%;
}
.metaboxes-project-meta .first-column {
	font-size: 12px;
	color: #999;
}
.metaboxes-project-meta .second-column {
	width: 100px;
}
.metaboxes-project-meta select {
	float: right;
	width: 170px;
}
.metaboxes-project-meta input {
	float: right;
}



/* beginning of metaboxes-add-task */
/* beginning of metaboxes-add-task */
.metaboxes-add-task {
	width: 100%;
}
.metaboxes-add-task .widefat {
	width: 100% !important;
}
.metaboxes-add-task label {
	float: left;
	margin: 5px 0 0 0;
	font-size: 12px;
	color: #999;
}
.metaboxes-add-task .task-priority {
	width: 200px;
	float: right;
}
.metaboxes-add-task .task-owner {
	width: 200px;
	float: right;
}