.propel-status {
	background-color: #65A5F2;
	color: white;
	padding: 2px 5px;
	text-align: right;
	vertical-align: middle;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 auto;
	width: 55px;
	font: 9px verdana,arial,sans-serif;
}

.propel-projects p {
	margin: 0px !important;  
	padding: 0px !important;
}

.propel-projects .ui-progressbar {
	height: 1em;
}

.propel-projects td {
	padding: 5px !important;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

.propel-projects tbody:nth-child(odd) {
	background-color: #EEEEEE;
}